Label {
	  -unity-text-align: upper-left;  
	font-size: 12px;
	-unity-font-style: bold;
	padding-top: -5px;
}

TextField #unity-text-input {
    width: 250px;
    -unity-text-align: upper-left;  
    -unity-word-wrap: true;
    -unity-clipping: clip;
    overflow: visible;
    white-space: normal;
	color: rgba(255, 255, 255, 1);
	font-size: 12px;
	-unity-font-style: bold;
	padding-top: -5px;
}

