DialogueNode #title {
    background-color: rgba(124, 0, 191, 1);
		-unity-font-style: bold;
}

DialogueNode #output {
    background-color: rgba(124, 0, 191, 1);
		-unity-font-style: bold;
}
DialogueNode #port {
height: 60px;
}

DialogueNode #output {
font-size: 12px;
}